* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

:root {
  --pri-bcg: linear-gradient(to bottom, #21efe5, #166dbe);
  --pri-warm: linear-gradient(to right, #fcb045, #ff105f);
  --pri-yellow: #fcb045;
  --pri-white: #ffffff;
  --pri-blue: #1c3879;
  --pri-green: #309e9b;
  --pri-dark-grey: #3e3e3e;
  --pri-grey: #e7e7e7;
}

/* body */
body {
  min-height: 100vh;
  background: var(--pri-bcg);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* container */
.container {
  width: 50rem;
  padding: 2rem;
  border-radius: 1rem;
  background: var(--pri-white);

  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* header */
.header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--pri-dark-grey);
}

.tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tabs button {
  width: 50%;
  height: 4rem;
  border: none;
  outline: none;
  cursor: pointer;

  font-size: 1.6rem;
  font-weight: bold;
}

/* local */
#local_form,
#online_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/* form */
.form {
  width: 100%;
  height: 4rem;
  position: relative;

  border-radius: 1rem;
  background: var(--pri-grey);
}

.form input::-webkit-file-upload-button {
  display: none;
}

.form input[type="file"] {
  display: none;
}

.form input[type="text"] {
  text-align: center;
  padding: 1rem;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.6rem;
  border-radius: 1rem;
  background: var(--pri-grey);
}

.form label {
  text-align: center;
  display: block;
  margin: auto;
  cursor: pointer;
  font-size: 1.6rem;
  width: 100%;
  font-weight: bold;
  padding: 1rem;
}

/* result */
.result {
  width: 100%;
  gap: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result img {
  width: 100%;
  height: 20rem;
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  background: var(--pri-grey);

  object-fit: contain;
}

.result p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  border-radius: 1rem;
  background: var(--pri-grey);
}
