* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

:root {
  --pri-bcg: #30bd90;
  --pri-white: #fff;
  --pri-green: #309e9b;
  --pri-grey: #858585;
}

/* body */
body {
  min-height: 100vh;
  background: var(--pri-bcg);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* container */
.container {
  width: 50rem;

  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* main */
.main {
  width: 100%;
  padding: 5rem 3rem;
  border-radius: 1rem;

  gap: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: var(--pri-white);
  box-shadow: 0.2rem 0.2rem 1.2rem 0.2rem var(--pri-grey);
}

/* form */
.form {
  width: 100%;
}

.form input::-webkit-file-upload-button {
  display: none;
}

.form input[type="file"] {
  display: none;
}

.form label {
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  border: solid 0.2rem var(--pri-green);
  border-style: dashed;

  font-weight: bold;
  display: block;
  cursor: pointer;
  text-align: center;
}

/* result image */
.main img {
  width: 100%;
  height: 22rem;
  padding: 0.5rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  border: solid 0.2rem var(--pri-green);
  border-style: dashed;

  object-fit: cover;
}

/* reusult paragraph */
.main p {
  width: 100%;
  height: 4rem;
  font-size: 3.5rem;
  font-weight: bold;
  border-radius: 0.5rem;
  color: var(--pri-green);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* footer */
footer {
  margin: 3rem 0;
  font-size: 1.6rem;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 55%;
  }
  .container {
    width: 35rem;
  }
}
